.titulo{
    padding-top: 100px;
    padding-left: 1100px;
}

.btn-primary{
    width: 150px;
    height: 70px;

}

.panel-default{
    padding-left: 600px;
    padding-top: 100px;
}

.col-sm-offset-2{
    padding-left: 1200px;
    padding-top: 50px;
}

.form-group{
    padding-top: 20px;
}

.find{
    width: 120px;
}