<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Product</title>
    <meta charset="UTF-8"/>
    <a href="/product">All Products</a>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
<div class="container m-2">
    <h1>Products</h1>
        <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <td th:text="${findProduct.id}">Id</td>
            <td th:text="${findProduct.name}">Name</td>
            <td th:text="${findProduct.description}">Description</td>
            <td th:text="${findProduct.price}">Price</td>
            <td th:text="${findProduct.quantity}">Quantity</td>
            <td> <a th:href="@{'update?id=' + ${findProduct.id}}" class="btn btn-primary">Update</a></td>
            <td> <a th:href="@{'delete?id=' + ${findProduct.id}}" class="btn btn-danger">Remove</a></td>
        </tr>
        </thead>
    </table>
</div>
<script src="../js/jquery-3.5.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>