<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New Sale</title>
    <a href="/sale">All Sales</a>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<div class="container">
    <h1>Sales</h1>
    <hr>
    <h2>Save Sale</h2>
    <form action="#" method="post" th:action="@{/sale/save}" th:object="${sale}" >
        <select th:field="${sale.client}" required>
            <option value=""> Choose the Costumer</option>
            <option th:each="client : ${client}"
                    th:value="${client.id}"
                    th:text="${client.name}">
            </option>
        </select>
        <button type="button" class="btn btn-primary", th:type="submit">Add Products</button>
    </form>
</div>
<script src="../js/jquery-3.5.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>